
/*MAIN STYLE: Light mode, menu on left

/*Note: added styling for survey form*/

header {
    background-color: steelblue;
    color: black;
    position: relative;
    height: 64px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px 0px 10px 10px; 
}

/* nav menu styling*/

aside {
    display: flex;
    float: left;
    position: fixed;
    height: 100%;
    max-width: 5%;
}
ul {    
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: left;
}
li {
    display: block;
    color: #111;
    padding: 8px 16px;
    font-family: Arial, Helvetica, sans-serif;
}

/*button styling*/

.btn {
    background-color: aliceblue;
    color: slateblue;
}

.homeBtn {
    background-color: aliceblue;
    color: slateblue;
    font-weight: bold;
}
.themeBtn {
    background-color: #111;
    color: aliceblue;
}

/*end button styling*/

/*end nav styling*/

/*page styling*/

.main {
    margin-left: 175px;
    padding: 1px 16px;
    height: 1000px;
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

div .grid { /*container for website*/
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
}

/*These only work properly when separated out*/
div .p1 {
    display: none;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
}
div .p2 {
    display: none;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
}
div .p3 {
    display: none;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
}

img {
    grid-column: 5 / auto;
    grid-row: 1 / 3;
    box-shadow: 5px 10px#111;
}
figcaption {
    grid-column: 5 / auto;
    grid-row: 4 / auto;
    
}

footer {
    grid-row: 5 / auto;
    grid-column: 1 / 6;
    background-color: burlywood;
    box-shadow: 4px 8px rgb(126, 98, 61);
    padding: 2px 2px;
}

p {
    grid-column: 1 / auto;
}

h2 {
    grid-column: auto / 0;
    color: rgb(47, 46, 58);
}

.video {
    grid-column: 4 / auto;
    box-shadow: 8px 16px #000;
}

/* Media Query Handling */
@media screen and (min-width: 992px) {
    img {
        width: 500px;
        height: auto;
    }
    .video {
        width: 560px;
        height: 315px;
    }
}

@media screen and (max-width: 768px) {
    img {
        width: 250px;
        height: auto;
    }
    .video {
        width: 400px;
        height: auto;
    }
}

/* Styling for Validation Form */

.survey{
    font: normal 16pt / 1.5 sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    background: aquamarine;
    color: #000;
    padding: 0px 0px;
    display: none;
}

form {
    max-width: 1200px;
    width: 60%;
    margin: 70px;
}

h2 {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    margin: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.success {
    display: none;
    margin: 40px;
    padding: 10px;
}

.error  {
    color: red;
}

/* when "was-validated" class added to input */
input.was-validated:invalid {
    color: red;
    border: 1px solid red;
}
input.was-validated:invalid ~div {
    display: block;
}

/* hides error divs */
input:valid ~div {
    display: none;
}
input:invalid ~div {
    display: none;
}

.survey * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

form ul {
    list-style-type: none;
    padding: 0;
    max-width: 500px;
    margin: 0 auto;
}

form li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: left;
    -ms-flex-align: left;
    align-items: left;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: left;
}

form input, form textarea {
    padding: 20px;
    font: normal 12pt / 1.5 sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}


form button {
    margin: auto;
    padding: 22px 46px;
    font: normal 16pt / 1.5 sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    background: #d84315;
    color: #f2f2f2;
    text-transform: uppercase;
    border-radius: 3px;
}

form > li {
    margin-bottom: 20px;
}

form > li > label {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 140px;
    flex: 1 0 140px;
    max-width: 200px;
}

form > li + * {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 200px;
    flex: 1 0 200px;
}

form > input[type="radio"] ~ div.error, form > input[type="radio"] ~ div.error {
    -webkit-box-flex: 1;
    -ms-fex: 1 0 350px;
    flex: 1 0 350px;
    text-align: end;
}